# Images, videos and data
*.mp4

*.png
*.zip

# ipynb checkpoints
*ipynb_checkpoints

# __pycache__
*__pycache__

# Stuff for paper
Stuff for Paper
images_for_paper
animations
waves_plots

# Tests
Tests
PLOT for peter.ipynb
